<?xml version="1.0" encoding="UTF-8"?>
<!--
       Copyright 2010-2013 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.jpetstore.persistence.AccountMapper">

  <cache />

  <select id="getAccountByUsername" resultType="Account">
    SELECT
          signon.username,
          account.email,
          account.firstname,
          account.lastname,
          account.status,
          account.addr1 as address1,
          account.addr2 as address2,
          account.city,
          account.state,
          account.zip,
          account.country,
          account.phone,
          profile.langpref as languagepreference,
          profile.favcategory as favouritecategoryid,
          profile.mylistopt as listoption,
          profile.banneropt as banneroption,
          bannerdata.bannername
    FROM account, profile, signon, bannerdata
    WHERE account.userid = #{username}
      AND signon.username = account.userid
      AND profile.userid = account.userid
      AND profile.favcategory = bannerdata.favcategory
  </select>

  <select id="getAccountByUsernameAndPassword" resultType="Account">
    SELECT
      signon.username,
      account.email,
      account.firstname,
      account.lastname,
      account.status,
      account.addr1 as address1,
      account.addr2 as address2,
      account.city,
      account.state,
      account.zip,
      account.country,
      account.phone,
      profile.langpref as languagepreference,
      profile.favcategory as favouritecategoryid,
      profile.mylistopt as listoption,
      profile.banneropt as banneroption,
      bannerdata.bannername
    FROM account, profile, signon, bannerdata
    WHERE account.userid = #{param1}
      AND signon.password = #{param2}
      AND signon.username = account.userid
      AND profile.userid = account.userid
      AND profile.favcategory = bannerdata.favcategory
  </select>

  <update id="updateAccount" parameterType="Account">
    UPDATE account SET
      email = #{email},
      firstname = #{firstName},
      lastname = #{lastName},
      status = #{status},
      addr1 = #{address1},
      addr2 = #{address2,jdbcType=VARCHAR},
      city = #{city},
      state = #{state},
      zip = #{zip},
      country = #{country},
      phone = #{phone}
    WHERE userid = #{username}
  </update>

  <insert id="insertAccount" parameterType="Account">
    INSERT INTO account
      (email, firstname, lastname, status, addr1, addr2, city, state, zip, country, phone, userid)
    VALUES
      (#{email}, #{firstName}, #{lastName}, #{status}, #{address1},  #{address2,jdbcType=VARCHAR}, #{city}, #{state}, #{zip}, #{country}, #{phone}, #{username})
  </insert>

  <!--  
  TODO MyBatis 3 does not map booleans to integers
  <update id="updateProfile" parameterType="Account">
    UPDATE PROFILE SET
      LANGPREF = #{languagePreference},
      FAVCATEGORY = #{favouriteCategoryId},
      MYLISTOPT = #{listOption},
      BANNEROPT = #{bannerOption}
    WHERE USERID = #{username}
  </update>
  -->

  <update id="updateProfile" parameterType="Account">
    UPDATE profile SET
      langpref = #{languagePreference},
      favcategory = #{favouriteCategoryId}
    WHERE userid = #{username}
  </update>

  <!--  
  TODO MyBatis 3 does not map booleans to integers
  <insert id="insertProfile" parameterType="Account">
    INSERT INTO PROFILE (LANGPREF, FAVCATEGORY, MYLISTOPT, BANNEROPT, USERID)
    VALUES (#{languagePreference}, #{favouriteCategoryId}, #{listOption}, #{bannerOption}, #{username})
  </insert>
  -->

  <insert id="insertProfile" parameterType="Account">
    INSERT INTO profile (langpref, favcategory, userid)
    VALUES (#{languagePreference}, #{favouriteCategoryId}, #{username})
  </insert>

  <update id="updateSignon" parameterType="Account">
    UPDATE signon SET password = #{password}
    WHERE USERNAME = #{username}
  </update>

  <insert id="insertSignon" parameterType="Account">
    INSERT INTO signon (password,username)
    VALUES (#{password}, #{username})
  </insert>

</mapper>