<?xml version="1.0" encoding="UTF-8"?>
<!--
       Copyright 2010-2013 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.jpetstore.persistence.ItemMapper">

  <cache />

  <select id="getItemListByProduct" resultType="Item">
    SELECT
      i.itemid,
      listprice,
      unitcost,
      supplier AS supplierId,
      i.productid AS "product.productId",
      name AS "product.name",
      descn AS "product.description",
      category AS "product.categoryId",
      status,
      attr1 AS attribute1,
      attr2 AS attribute2,
      attr3 AS attribute3,
      attr4 AS attribute4,
      attr5 AS attribute5
    FROM item i, product p
    WHERE p.productid = i.productid
    AND i.productid = #{value}
  </select>

  <select id="getItem" resultType="Item">
    select
      i.itemid,
      listprice,
      unitcost,
      supplier AS supplierId,
      i.productid AS "product.productId",
      name AS "product.name",
      descn AS "product.description",
      category AS "product.categoryId",
      status,
      attr1 as attribute1,
      attr2 as attribute2,
      attr3 as attribute3,
      attr4 as attribute4,
      attr5 as attribute5,
      qty as quantity
    from item i, inventory v, product p
    where p.productid = i.productid
      and i.itemid = v.itemid
      and i.itemid = #{value}
  </select>

  <select id="getInventoryQuantity" resultType="int">
    SELECT qty AS value
    FROM inventory
    WHERE itemid = #{itemId}
  </select>

  <update id="updateInventoryQuantity">
    UPDATE inventory SET
      qty = qty - #{increment}
    WHERE itemid = #{itemId}
  </update>

</mapper>