<?xml version="1.0" encoding="UTF-8"?>
<!--
       Copyright 2010-2013 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.jpetstore.persistence.OrderMapper">

  <cache />

  <select id="getOrder" resultType="Order">
    select
      billaddr1 AS billAddress1,
      billaddr2 AS billAddress2,
      billcity,
      billcountry,
      billstate,
      billtofirstname,
      billtolastname,
      billzip,
      shipaddr1 AS shipAddress1,
      shipaddr2 AS shipAddress2,
      shipcity,
      shipcountry,
      shipstate,
      shiptofirstname,
      shiptolastname,
      shipzip,
      cardtype,
      courier,
      creditcard,
      exprdate AS expiryDate,
      locale,
      orderdate,
      orders.orderid,
      totalprice,
      userid AS username,
      status
    FROM orders, orderstatus
    WHERE orders.orderid = #{value}
      AND orders.orderid = ORDERSTATUS.ORDERID
  </select>

  <select id="getOrdersByUsername" resultType="Order">
    SELECT
      billaddr1 AS billAddress1,
      billaddr2 AS billAddress2,
      billcity,
      billcountry,
      billstate,
      billtofirstname,
      billtolastname,
      billzip,
      shipaddr1 AS shipAddress1,
      shipaddr2 AS shipAddress2,
      shipcity,
      shipcountry,
      shipstate,
      shiptofirstname,
      shiptolastname,
      shipzip,
      cardtype,
      courier,
      creditcard,
      exprdate AS expiryDate,
      locale,
      orderdate,
      orders.orderid,
      totalprice,
      userid as username,
      status
    FROM orders, orderstatus
    WHERE orders.userid = #{value}
      AND orders.orderid = ORDERSTATUS.ORDERID
    ORDER BY orderdate
  </select>

  <insert id="insertOrder">
    INSERT INTO orders (orderid, userid, orderdate, shipaddr1, shipaddr2, shipcity, shipstate,
      shipzip, shipcountry, billaddr1, billaddr2, billcity, billstate, billzip, billcountry,
      courier, totalprice, billtofirstname, billtolastname, shiptofirstname, shiptolastname,
      creditcard, exprdate, cardtype, locale)
    VALUES(#{orderId}, #{username}, #{orderDate}, #{shipAddress1}, #{shipAddress2,jdbcType=VARCHAR}, #{shipCity},
      #{shipState}, #{shipZip}, #{shipCountry}, #{billAddress1}, #{billAddress2,jdbcType=VARCHAR}, #{billCity},
      #{billState}, #{billZip}, #{billCountry}, #{courier}, #{totalPrice}, #{billToFirstName}, #{billToLastName},
      #{shipToFirstName}, #{shipToLastName}, #{creditCard}, #{expiryDate}, #{cardType}, #{locale})
  </insert>

  <insert id="insertOrderStatus">
    INSERT INTO orderstatus (orderid, linenum, timestamp, status)
    VALUES (#{orderId,jdbcType=NUMERIC}, #{orderId,jdbcType=NUMERIC}, #{orderDate,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR})
  </insert>

</mapper>